body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000000;
}

th {
  background-color: #4299e1;
  color: #ffffff;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

tr:first-child th {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #edf2f7;
}
