*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  color: #121212;
}

.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: #121212e1;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: #000000;
}

th {
  background-color: #4299e1;
  color: #ffffff;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

tr:first-child th {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even) {
  background-color: #edf2f7;
}

#searchInput{
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #ddd;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

#searchInput:focus{
  outline: none !important;
  border: 2px solid #4299e1;
  border-radius: 7px;
}

#csvTable{
  width: 98%;
}